@model BierTier.Models.FavoriteBeer

@{
    ViewData["Title"] = "DeleteFavorite";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="FavoriteBeerId" />
        <dt>
            @Html.DisplayNameFor(model => model.IndivBeer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndivBeer.BeerId)
        </dd>
    </dl>
    
    <form asp-action="DeleteFavorite">
        <div class="form-actions no-color">
            <input type="submit" value="DeleteFavorite" class="btn btn-default btn-sm btn-danger" />
            <a asp-action="FavoriteBeer">Back to List</a>
        </div>
    </form>
</div>
