@model IEnumerable<BierTier.Models.FavoriteBeer>

@{
    ViewData["Title"] = "FavoriteBeer";
}

<h2>My Favorite Beers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Beer
            </th>
            <th>Brewery</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndivBeer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndivBeer.Brewery)
            </td>
            <td>
                <p><a asp-action="Details" asp-route-id="@item.BeerId" class="btn btn-primary btn-md resultsbutton">Details</a></p>
                <form asp-action="DeleteFavorite">
                    <div class="form-actions no-color">
                    <input type="submit" value="Remove from Favorites" class="btn btn-default btn-sm btn-danger" />
                    <input type="hidden" name="Id" value="@item.FavoriteBeerId" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
