@model IEnumerable<BierTier.Models.WishlistBeer>

@{
    ViewData["Title"] = "WishlistBeer";
}

<h2>My Wishlist</h2>

<table class="table">
    <thead>
        <tr>
            <th>Beer
            </th>
            <th>Brewery</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndivBeer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndivBeer.Brewery)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.WishListBeerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WishListBeerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>