@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>BierTier is a searchable database of beer. User can look up beers, add them to a favorites or wishlist, or blacklist a beer.</p>
<p>The recommendations feature allows users to view beers similar in IBU/ABV or type.</p>
