@{
    ViewData["Title"] = "Home Page";
}

<div class="mainhomeview container-fluid">
    <div class="main-container container">
        <h1>Find your favorite beer.</h1><br>
        <!-- Search input box-->
        <!-- Search by title, brewery, or type. Logic written in BeerController.cs-->
            @using (Html.BeginForm())
            {
            @Html.TextBox("searchString")
                <span><p style="display:inline; color:lightgrey"><br></p>
                </span><br>
                <input asp-area="" asp-controller="Beer" asp-action="Index" type="submit" value="Search" button type="button" class="btn btn-primary btn-lg" />
            }
    </div>
</div>



