body {
    background-image: url("../images/snow-restaurant-mountains-sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100vh;
}

.findtext {
    color: white;
}

h1 {
    color: white;
}

input {
    width: 100%;
    color: darkslategrey;
}

.transparentnav {
    background: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}

.similarbutton {
    box-shadow: 0 3px 0 0 #007299;
    padding: 10px 10px;
}
.addbuttons {
    padding: 10px 10px;
}

/* 
.mainhomeview {
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: url("../images/snow-restaurant-mountains-sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100vh;
} */

.main-container {
    max-width: 500px;
    height: 100px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Footer */
footer {
    background-color: transparent;
    color: white;
    text-align: center;
    margin: auto;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer-p {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
